.container-page {
	position: absolute;
	width: calc(100vw - 11vw);
	height: 100%;
	left: 11vw;
	top: 0;
	background-color: $background;
	.top__header-page {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: white;
		margin-bottom: 20px;
		padding: 10px;
		height: 30px;
	}
}
