@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

body {
	width: 100vw;
	font-family: $police;
}

.top__header-page {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	margin-bottom: 20px;
	padding: 10px;
	height: 30px;
}

.add__button,
.home__button,
.back__button {
	filter: $primary_svg;
	cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.m__initial {
	margin: initial !important;
}

.j__start {
	justify-content: start !important;
}

.t__center {
	text-align: center;
}

.d__flex {
	display: flex !important;
	flex-direction: row !important;
	align-items: center !important;
}

.w__30 {
	width: 30% !important;
}
