.home-container {
	font-family: Arial, sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #f8f9fa;
	border-bottom: 1px solid #ddd;
}

.main-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	background-color: #f8f9fa;
	border-radius: 4px;
}

.main-nav li {
	position: relative;
}

.main-nav a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: black;
}

.main-nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #f8f9fa;
	border-radius: 4px;
}

.main-nav ul li:hover > ul {
	display: block;
}

.main-nav ul li:hover > a {
	color: #0056b3;
}

.logout-button {
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100px;
	text-align: center;
}

.logout-button:hover {
	background-color: #0056b3;
}
