/* Tickets.css */

.utilisateurs__container {
	max-width: 120vh;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin-top: 20px;
}

.utilisateurs__input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.utilisateurs__filter-section {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
}

.utilisateurs__select-wrapper {
	flex: 1;
}

.utilisateurs__select {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.utilisateurs__button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #f19730;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.utilisateurs__button:hover {
	background-color: #b16f25;
}

.utilisateurs__button-filter {
	margin-top: 1vh;
}

.utilisateurs__selected-filters {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 20px;
}

.utilisateurs__filter-item {
	background-color: #f19730;
	color: #fff;
	padding: 5px 10px;
	border-radius: 4px;
}

.utilisateurs__table {
	margin-top: 2vh;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

.utilisateurs__table th {
	background-color: #343541;
	color: white;
	border: 1px solid #ccc;
	padding: 8px;
	text-align: left;
}

.utilisateurs__table td {
	border: 1px solid #ccc;
	padding: 8px;
}

.utilisateurs__table tbody tr:hover {
	background-color: #f0f0f0;
}

/* Rendre la table striped */
.utilisateurs__table tr:nth-child(odd) {
	background-color: #f5f5f5;
}

.m-0 {
	margin: 0 !important;
}

.ms-3 {
	margin-left: 1rem !important;
}

.d-flex {
	display: flex !important;
}

.justify-content-between {
	justify-content: space-between !important;
}

.align-items-center {
	align-items: center !important;
}

.utilisateurs__button-create {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

.utilisateurs__back-button {
	text-decoration: none;
	color: #000;
}
